<!-- register.component.html -->
<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="surface-card p-4 shadow-4 border-round" style="width: 350px;">
    <div class="flex flex-column align-items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Sign Up</div>

      <!-- แสดงข้อความแจ้งเตือน -->
      <p-message *ngIf="error" severity="error" [text]="error" styleClass="w-full mb-3"></p-message>
      <p-message *ngIf="success" severity="success" [text]="success" styleClass="w-full mb-3"></p-message>

      <div class="w-full mt-3">
        <!-- Username field -->
        <div class="mb-4">
          <span class="p-float-label w-full">
            <p-floatlabel variant="on" class="w-full mb-4">
            <input pInputText id="name" [(ngModel)]="name" class="w-full p-2" autocomplete="off"/>
            <label for="name">Username</label>
            </p-floatlabel>
          </span>
        </div>
        <!-- Email field -->
        <div class="mb-4">
          <span class="p-float-label w-full">
            <p-floatlabel variant="on" class="w-full mb-4">
            <input pInputText id="email" [(ngModel)]="email" class="w-full p-2" autocomplete="off"/>
            <label for="email">Email</label>
            </p-floatlabel>
          </span>
        </div>
        <!-- Password field -->
        <div class="mb-4">
          <span class="p-float-label w-full">
            <p-floatlabel variant="on" class="w-full mb-4">
              <p-password id="password" [(ngModel)]="password" [feedback]="false" [toggleMask]="true"
                          styleClass="w-full" inputStyleClass="w-full p-2"></p-password>
                      <label for="password">Password</label>
            </p-floatlabel>
          </span>
        </div>

        <!-- Confirm Password field -->
        <div class="mb-4">
          <span class="p-float-label w-full">
            <p-floatlabel variant="on" class="w-full mb-4">
            <p-password id="confirmPassword" [(ngModel)]="confirmPassword" [feedback]="false" [toggleMask]="true"
                        styleClass="w-full" inputStyleClass="w-full p-2"></p-password>
            <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>
          </span>
        </div>

        <!-- Register button -->
        <button pButton pRipple label="Register" icon="pi pi-user-plus" class="w-full mt-3" type="button"
                [loading]="loading" (click)="onSubmit()"></button>

        <!-- Link to login page -->
        <div class="text-center mt-4">
          <span class="text-600">Already have an account? </span>
          <a class="font-medium no-underline ml-2 text-primary cursor-pointer hover:underline"
             (click)="navigateToRegister()">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
