/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
/*@import "tailwindcss";*/

body {
  background-color: #f8f9fa !important;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
